.vscode/**
.vscode-test/**
src**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_Store
**/.git
**/.svn
**/.hg
**/CVS
**/.npmrc
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
webpack.config.js
out/DatabaseExplorer.js
out/MongoDBManager.js
out/SQLiteManager.js
out/types.js
out/*.js.map
node_modules/**/test/**
node_modules/**/docs/**
node_modules/**/.github/**
node_modules/**/example/**
node_modules/**/examples/**
