.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.DS_Store
**/.git
**/.svn
**/.hg
**/CVS
**/.npmrc
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/lerna-debug.log*
**/.pnpm-debug.log*
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
node_modules/.pnpm/**
node_modules/.modules.yaml
pnpm-lock.yaml
pnpm-workspace.yaml
Makefile
.env

# Exclude dev-only sub-dependencies that bloat the package
**/.clang-format
**/.editorconfig
**/.eslintrc*
**/.prettierrc*
**/CHANGELOG.md
**/LICENSE.md
**/README.md
**/readme.*
**/readme.*
**/.github/**
**/.cache/**
**/.circleci/**
**/coverage/**
**/docs/**
**/example/**
**/examples/**
**/test/**
**/tests/**
**/__tests__/**
**/*.d.ts
**/*.spec.js
**/*.test.js
**/*.spec.ts
**/*.test.ts
